worlds["alpha"] = "/opt/msm/servers/alpha/world"
worlds["omega"] = "/opt/msm/servers/omega/world"
worlds["gamma"] = "/opt/msm/servers/gamma/world"

def signFilter(poi):
    if poi['id'] == 'Sign':
        return "\n".join([poi['Text1'], poi['Text2'], poi['Text3'], poi['Text4']])

def chestFilter(poi):
    if poi['id'] == "Chest":
        return ("Chest", "Chest with %d items" % len(poi['Items']))

renders["day"] = {
    "world": "omega",
    "rendermode": "smooth_lighting",
    "title": "Omega Survival server",
    "markers": [dict(name="All signs", filterFunction=signFilter),
		dict(name="Chests", filterFunction=chestFilter, createInfoWindow=False)]
}

renders["gammaday"] = {
    "world": "gamma",
    "rendermode": "smooth_lighting",
    "title": "Gamma Survival server",
    "markers": [dict(name="All signs", filterFunction=signFilter),
                dict(name="Chests", filterFunction=chestFilter, createInfoWindow=False)]
}

renders['biomeover'] = {
    'world': 'omega',
    'rendermode': [ClearBase(), BiomeOverlay()],
    'title': "Biome Coloring Overlay",
    'overlay': ['day']
}

renders["creativeday"] = {
    "world": "alpha",
    "rendermode": "smooth_lighting",
    "title": "Alpha Creative server",
}



outputdir = "/var/www"
texturepath = "/opt/msm/texturepacks/SimpleCraft_7.zip"
